<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> | <%= 'â­ï¸' * restaurant.rating %> | <%= restaurant.address %> | <%= link_to "delete", restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" }    %></li>
  <% end %>
</ul>
